$primary-color: #ec518a;
$max-width: 1304px;
.navbarMainHeight{
    height: 80px;
}
.pageBannerTopForAllPage{
    margin-top: 90px;
}
.primaryColor{
    color: $primary-color;
}

.maxWidth{
    max-width: $max-width;
}

.navbarIconWidthHeight{
    width: 30px !important;
    height: 30px !important;
}